/* pallette from https://flatuicolors.com/palette/gb */
html {
    font-family: "Roboto", sans-serif;
    background-color: #192a56;
    color: #2d3436;
    display: flex;
    justify-content: center;
}

body {
    max-width: 750px;
    background-color: #FFFFFF;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
}

img {
    align-content: center;
    display: block;
    margin: auto;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav-bar{
    display: flex;
    width: calc(100vw/3);
    min-width: 250px;
    justify-content: space-around;
    background-color: #dfe6e9;
    padding: 5px;
    border-radius: 10px;
}

.nav-elt {
    text-decoration: none;
    color: #2d3436;
    padding: 10px;
    border-radius: 10px;
}

.nav-elt:hover {
    background-color: #b2bec3;
}

.pdf {
    height: 100vh;
}

.code-block {
	font-family: Consolas,"courier new";
	background-color: #000000;
	color: #00FF00;
	padding: 20px;
	border-color: #888888;
}
